#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body {
    background-color: #8D0E0E;
    color: white;
}

.bg-secondary {
    background-color: #4f4f4f !important;
}

.text-white {
    color: white !important;
}